<%# <h1><%= @category.title %>
<%# <%= link_to 'Edit', edit_category_path(@category) %>
<%# <%= link_to 'Delete', category_path(@category), method: :delete, data: { confirm: 'Are you sure?' } %>

<%# <p><%= @category.body %>

<article class="category">
    <section class="category-head">
        <h2><%= link_to @category.title, category_path(@category) %></h2>
        <%= link_to 'Edit', edit_category_path(@category)%>
        <%= button_to 'Delete', @category, method: :delete, data: { confirm: 'Are you sure?'} %>
        
    </section>

    <section class="category-body">
    <%= image_tag @category.image_url(:large), class: 'image-show' if @category.image? %>
        <%= @category.body %>
    </section>
</article>